.headerWrapper {
  position: sticky;
  top: 0;
  margin-bottom: -200px;
  z-index: 30;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
  /* background: rgb(255, 251, 251); */
  background: linear-gradient(
    0deg,
    rgba(255, 251, 251, 0) 0%,
    rgba(0, 0, 0, 0.6099051681219363) 34%,
    rgba(0, 0, 0, 1) 65%
  );
  height: 200px;
} 

header > a {
  color: white;
  text-decoration: none;
  font-size: 40px;
}

.logo {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.links {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.links button {
  color: white;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 30px;
}

.links button:hover {
  border-bottom: 4px solid white;
  font-size: 35px;
  padding: 10px;
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
}

.links a:hover {
  border-bottom: 4px solid white;
  font-size: 35px;
}

header > a:hover {
  border-bottom: 4px solid white;
  font-size: 45px;
}

.tagline {
  height: 500px;
  background-image: url(../../images/main_beer.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 240px;
  border-bottom: 7px solid rgb(102, 45, 12);
}

.tagline > p {
  color: white;
  font-size: 30px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.562);
  width: fit-content;
  margin: auto;
  border-radius: 20px 20px 0px 0px;
}

.tagline > h1 {
  color: white;
  font-size: 50px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.562);
  width: fit-content;
  margin: auto;
  border-radius: 20px;
}

.orderNone {
  display: none;
}
.orderWrapper {
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.486);
  margin-top: -100vh;
  z-index: 100;
  padding-top: 20px;
}
.order {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(34, 34, 34);
  padding: 15px;
  width: 90%;
  margin: auto;
  height: 95vh;
  max-height:1000px;
  text-align: center;
  border-radius: 20px;
}
.order > h1 {
  margin-top: 10px;
  color: white;
}
.order > input {
  height: 20px;
  width: 50%;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin: auto;
  background-color: rgb(170, 188, 204);
}
.send {
  height: 40px;
  width: 300px;
  margin: auto;
  font-size: 20px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  background-color: rgb(110, 51, 33);
  text-decoration: none;
  padding: 10px;
}
.send:hover {
  color: rgb(110, 51, 33);
  background-color: rgb(255, 255, 255);
}
.order > p {
  font-size: 30px;
  color: white;
}
/* //////////////////////////////////// */
.orderCardWrapper{
  width: 80%;
  margin: auto;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.orderCard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* gap: 20px; */
  border-bottom: 1px solid white;
  padding: 5px 0;
  width: 100%;
}
.orderCard>h2{
color: white;
margin-right: auto;
font-size: 20px;
}
.orderCounter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  height: 40px;
}
.orderCounter>p{
color: white;
font-size: 40px;
}
.orderCounter>button{
  height: 40px;
  width: 40px;
  font-size: 40px;
  color: white;
  border: none;
  background-color: rgb(24, 24, 24);
  } 
.orderCounter>button:active{
  color:rgb(24, 24, 24) ;
  background-color:white;
}
.close2 {
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(255, 0, 0, 0);
  border: none;
  color: white;
  font-size: 40px;
  height: 60px;
  width: 60px;
}
::placeholder {
  color: rgb(0, 0, 0);
  opacity: 1;
   font-size: 15px;
}
/* //////////////////////////////////////////////////////////////// */
.menu {
  display: none;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  color: black;
  border: none;
  padding: 5px;
  border-radius: 20px;
}
.menuLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  margin-top: 200px;
  background-color: rgb(139, 139, 139);
  padding: 10px;
  border-radius: 20px;
}
.closeMenu {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: white;
  font-size: 20px;
  padding: 0 0 0 5px;
  margin: 0 auto 0 auto;
}
.menuLinks > a {
  text-decoration: none;
  color: white;
  padding: 5px;
  font-size: 20px;
}
.menuLinks > button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: white;
  font-size: 20px;
  text-align: left;
  padding: 0 0 0 5px;
}
.menuNone {
  display: none;
}

@media (max-width: 1300px) {
  .links {
    display: none;
  }
  .menu {
    display: block;
  }
}

@media (max-width: 585px) {
  .links {
    display: none;
  }

  .tagline > p {
    font-size: 25px;
  }

  .tagline > h1 {
    font-size: 30px;
  }
  .order > h1 {
    margin-top: 70px;
  }
  .order > input {
    width: 80%;
  }

  .send {
    width: 80%;
  }
  .close2{
    font-size: 25px;
    width: 30px;
    height: 30px;
  }

  .order > h1 {
    margin-top: 10px;
  }
  .orderCardWrapper{
    width: 100%;
  }
  .orderCard>h2{
    font-size: 15px;
    }
    .orderCounter{
      width: 45%;
    }
  .orderCounter>button{
    height: 30px;
    width: 30px;
    font-size: 30px;

    } 

}

@media screen and (max-width: 768px) {
  .label {
    display: flex;
    flex-direction: column;
    width: 70px;
    cursor: pointer;
  }
  .logo {
    height: 70px;
    width: 70px;
  }

  header > a {
    font-size: 30px;
  }

  header {
    height: 100px;
  }
  .order > input {
    width: 80%;
  }
  .close {
  
    right: 50px;
  
  }

}
