.block1>a {
    margin-left: 40px;
    margin-top: 140px;
    margin-bottom: 5%;
    height: 70px;
    width: 170px;
    border-radius: 10px;
    border: 0;
    font-size: 27px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    padding-left: 40px;
    background-color: aliceblue;
}

.block1>a:hover {
    background-color: rgb(188, 172, 25);
    color: rgb(255, 255, 255);
}

.block1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}

.title {
    color: rgb(220, 181, 27);
    font-size: 35px;
    font-weight: 600px;
    margin-bottom: 20px;
}

.des0 {
    color: white;
    font-size: 21px;
}

.des {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 21px;
    text-decoration: none;
}

.des:hover {
    color: rgb(185, 158, 7);

}

.map {
    width: 300px;
    height: 350px;
}

.map_img {
    height: 250px;
    width: 310px;
}

.block2 {
    display: flex;
}

#copy {
    color: white;
    font-size: 15px;
    margin-right: 60px;
}

#rules {
    color: rgba(255, 255, 255, 0.088);
    font-size: 26px;
}

.insta {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.insta_wrapper {
    margin-top: 30px;
    display: flex;
    text-decoration: none;
    align-items: center;
}

@media(max-width:768px) {
    .block1>a {
        margin-top: 5%;
        margin-bottom: 5%;
    }

}

@media(max-width:512px) {
    .block1>a {
        margin-top: 20px;
    }

    .block2 {
        display: flex;
        flex-direction: column;
    }

    #copy {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .map_img {
        height: 200px;
        width: 250px;
    }
}