.productsWrapper {
  
}
.cardWrapper{
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-image: url(../../images/photo-1567080586917-e6ab6aa0df85.avif);
  background-size: cover;
  background-repeat: no-repeat;
}
.productsCard {
  width: 650px;
  height: 500px;
  overflow: hidden;
  display: flex;
}

.productsCard>img {
  width: 45%;
  height: 100%;
  object-fit: cover;
  transition: width 1s linear
}

.productsCard>img:hover {
  width: 50%;
}

.productsDes {
  text-align: center;
  padding: 30px;
  background-color: rgb(46, 39, 20);
  height: 100%;
  width: 50%;
}

.productsDes>h1 {
  background-color: rgba(94, 94, 94, 0.425);
  padding: 10px;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
}

.productsDes>p {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-bottom: 30px;
  height: 30%;
  height: fit-content;
}

.productsDes>h3 {
  color: rgb(0, 0, 0);
  background-color: rgba(94, 94, 94, 0.425);
  padding: 10px;
  border-radius: 20px;
  margin-top: 28px;
}

.priceImg {
  width: 100%;
  height: auto;
}

@media(max-width:585px) {
  
.productsCard {
  width: 90%;
  height: fit-content;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productsCard>img {
  width: 90%;

}

.productsCard>img:hover {
  width: 100%;
}

.productsDes {

  width: 100%;
}

}